<div class="container">
    <div class="row bg-light p-5 rounded-lg mb-3 mt-3">
      <h1 class="display-4">Not Facebook</h1>
      <p class="lead">This is a simple blog app that is definitely NOT a facebook clone. Why would you think that?
        Pretty weird.</p>
      <hr class="my-4">
    </div>
    <div class="row">
      <div class="col-sm-6 mt-4">
        <h3 style="color: #6f91ff">Register New Account</h3>
        <hr>
        {{!-- form for registering user --}}
        <form>
          <div class="mb-3">
            <label for="rUsername" class="form-label" style="color:#6f91ff">Username</label>
            <input type="text" class="form-control" id="rUsername">
          </div>
          <div class="mb-3">
            <label for="rEmail" class="form-label" style="color:#6f91ff">Email</label>
            <input type="email" class="form-control" id="rEmail">
          </div>
          <div class="mb-3">
            <label for="rPassword" class="form-label" style="color:#6f91ff">Password</label>
            <input type="password" class="form-control" id="rPassword">
          </div>
          <button id="register" type="submit" class="btn btn-success">Sign Up</button>
        </form>
      </div>
      <div class="col-sm-6 mt-4">
        <h3 style="color:#6f91ff">Login To Existing Account</h3>
        <hr>
        {{!-- form for logging into created accounts --}}
        <form>
          <div class="mb-3">
            <label for="lUsername" class="form-label" style="color:#6f91ff">Username</label>
            <input type="text" class="form-control" id="lUsername">
          </div>
          <div class="mb-3">
            <label for="lPassword" class="form-label" style="color:#6f91ff">Password</label>
            <input type="password" class="form-control" id="lPassword">
          </div>
          <button id="login" type="submit" class="btn btn-success">Login</button>
        </form>
      </div>
    </div>